%h1 Pages
%table
  - @pages.each do |page|
    %tr
      %td
        = link_to page.label, edit_admin_page_path(page)
      %td
        = link_to admin_page_path(page),
          confirm: "Are you sure you want to delete the #{page.label} page?",
          method: :delete do
          %i.fi-trash
          delete
