.typography.rule_after
  :markdown
    Purpose of the dictionary
    -------------------------
  
    The Online Dictionary of NZSL is a multimedia digital resource designed for use by learners
    and teachers of NZSL, Deaf people, families and associates of Deaf people, interpreters,
    researchers, and public agencies, among others. The dictionary is a bilingual reference
    tool that allows users to search for NZSL vocabulary through either English words or by the
    visual features of signs themselves. In due course, Te Reo M&#257;ori translations will be added
    to each entry, making the dictionary accessible in three languages.

    Dictionary users are bound to find some gaps for concepts that are not yet included,
    because the documentation of NZSL remains a work in progress. As with any language,
    NZSL vocabulary constantly changes and grows in response to the experiences of the
    language community. This online format will allow for the dictionary to be updated more
    readily than in the past.

    An online dictionary provides information about the lexicon or words of a language, and
    creates an historical record of its development through time. However, it is not designed to
    be a stand-alone tool for teaching, learning or translating NZSL. These activities require
    more extensive and structured exposure to ‘live’ use of NZSL, supported by reference to the
    contents of the dictionary.
  
    What is in an entry?
    --------------------
  
  %h2 Project staff

  %dl
    %dt Managing Editor
    %dd Dr. David McKee
  
    %dt Compilation Editors
    %dd Dr. Rachel McKee
    %dd Sara Pivac Alexander
    %dd Lynette Pivac

    %dt Database Manager
    %dd Mireille Vale
  
    %dt Technical Editor
    %dd Dave Moskovitz, Thinktank Consulting Ltd
  
    %dt Research Assistants
    %dd Darryl Alexander
    %dd Mark Berry
    %dd Sophia Wallingford
  
    %dt Sign Models
    %dd Mark Berry
    %dd Suzanne Hanson
    %dd Jackie Overall
    %dd Sonia Pivac
    %dd Ricki Pointon
    %dd Victoria Skorikova
    %dd Jon Tai-Rakena

    %dt Translation Assistants
    %dd Alan Wendt
    %dd James Bichan
    %dd Wenda Walton
    %dd Shaun Fahey
  
    %dt Filming
    %dd Mike Rathbone, Video NZ Ltd
  
    %dt Website
    %dd 3Months Ltd
  
  :markdown
    Acknowledgements
    ----------------
  
    NZSL Online has been made possible by an Encouraging and Supporting Innovation (ESI) grant from
    the [Tertiary Education Commission](http://www.tec.govt.nz/).

    The content of this online Dictionary is substantially based on _A Dictionary of New Zealand Sign
    Language_ (1997) and _A Concise Dictionary of New Zealand Sign Language_ (2002). The project owes
    a huge debt of gratitude to the original General Editor of those dictionaries, Professor Graeme
    Kennedy, and to editorial team members: Richard Arnold, Pat Dugdale, Shaun Fahey and David
    Moskovitz. Compilation of data in the original 1997 Dictionary was assisted by over 90 members of
    the New Zealand Deaf Community who are acknowledged by name in that work.

    We want to acknowledge the contributions of staff members of our partner organisations who
    supported the project and facilitated the validation of additional signs in this dictionary.
  
    - Deaf Aotearoa NZ: Della Buzzard, Rachel Noble, Victoria Skorikova
    - Van Asch Deaf Education Centre: Paul Buzzard, Tess Hilmer, Janet Stokes
    - Kelston Deaf Education Centre: Hilda Baker, Sarah Cameron, Shona McGhie
    - Auckland University of Technology: Debbie Corder
  
    Support from the following organisations and individuals is also gratefully acknowledged:
  
    - [Research Office](http://www.victoria.ac.nz/home/research/), Victoria University of Wellington
    - [Dr. Peter Andreae](http://ecs.victoria.ac.nz/Main/PeterAndreae), School of Engineering and Computer Science, Victoria University of Wellington, for his advice on IT issues and development of a prototype online dictionary.
    - [Bridget Williams Books](http://www.bwb.co.nz/store/viewCat_h.asp?idCategory=8) (publisher of the _Dictionary of New Zealand Sign Language_ (1997) and the _Concise Dictionary of New Zealand Sign Language_ (2002)
    - [The Danish Sign Language Dictionary](http://www.tegnsprog.dk/)  editorial staff: Jette H. Kristoffersen, Thomas Troelsgård, Bo Hårdell, Janne Boye Niemelä
    - Dr Diane Bardsley, [The New Zealand Dictionary Centre](http://www.victoria.ac.nz/lals/research/nzdc/)
    - [School of Linguistics and Applied Language Studies](http://www.victoria.ac.nz/lals/)
  
  
  
  

