.typography.rule_after
  %h1 Glossary of terms
  
  %h2#archaic Archaic
  %p Archaic signs are no longer in common use.
  
  %h2#dominant_hand Dominant hand
  %p A signer&rsquo;s stronger hand, usually their writing hand. One-handed signs are made with the dominant hand. In two-handed signs where the handshapes differ, the dominant hand often has a more complex handshape or movement.
    
  %h2#is_fingerspelling Fingerspelling
  %p This sign includes one or more letters of the fingerspelling alphabet. See #{link_to 'alphabet', '/alphabet'} tab.
    
  %h2#inflection_manner_and_degree Inflection: manner and degree
  %p The facial expression and/or movement of this sign can be changed to show how an action was performed and differences in intensity.
    
  %h2#inflection_plural Inflection: pluralisation
  %p The movement of this sign can be repeated to show that there is more than one thing, animal or person.
    
  %h2#inflection_temporal Inflection: temporal
  %p The movement of this sign can be changed to show differences in the duration or regularity of the action.
    
  %h2#informal Informal
  %p These colloquial signs are mainly used in informal situations, usually between signers who know each other well.
    
  %h2#mouth_pattern Mouth pattern
  %p Many signs, especially nouns and verbs, can be accompanied by silent mouthing of a spoken word that corresponds to the sign meaning. Some signs are formed with specific movements of the lips, tongue and mouth that are not related to speech, but contribute to the meaning of the sign.
    
  %h2#neologism Neologism
  %p Neologisms are signs that have only recently come into use and may not be known by the whole NZSL community. Many neologisms have developed in educational settings.
    
  %h2#non_dominant_hand Non-dominant hand
  %p The signer&rsquo;s weaker hand, usually their non-writing hand. In two-handed signs where the handshapes differ, the non-dominant hand  usually has a less complex handshape and movement than the dominant hand.
    
  %h2#non_manual_signals Non-manual signals
  %p Movements of the eyebrows, eyes, mouth, cheeks, head and upper body that add grammatical meaning to a sign or phrase.
    
  %h2#contains_numbers Number incorporation
  %p The handshape of this sign can be changed to a number handshape (usually from 1-5, occasionally from 1-9) to show how many items or people are involved. See #{link_to 'numbers', '/numbers'} tab.
    
  %h2#obscene Obscene
  %p These signs could be considered rude (for example because they are a swear word or have sexual reference).
    
  %h2#one_or_two_handed One or two handed
  %p This sign can be produced either with one hand or with both hands. In some two-handed signs, the non-dominant hand is commonly dropped (especially when it is a base handshape that does not move), to produce a one-handed form.  Some one-handed signs may be duplicated on the non-dominant hand.
    
  %h2#is_directional Person agreement
  %p The movement of this (verb) sign can be directed to different locations in the signing space to show who is carrying out an action and who is the recipient.
    
  %h2#rare Rare
  %p Some signs are used rarely, or only by a small proportion of NZSL users, because another variant has become more popular.
    
  %h2#is_locatable Spatial agreement
  %p The location or movement of this sign can be changed to show the direction of an action or the location of an object. 
