.typography.rule_after
  :markdown
    Help
    ====
    About the Entries
    -----------------
  
    The dictionary contains approximately 4,000 entries for NZSL signs. Where a single sign
    has two distinct senses, each meaning has a separate entry. Each entry shows a sign as a
    line drawing, as a videoclip, and as used in an example sentence. The sign is translated with
    equivalent English words - usually a main gloss, and secondary or other possible meanings.
    Both main and secondary English glosses are included in a sign search.
  
    All the sentence examples reflect natural NZSL usage, and the structure of the signed
    sentence is represented in a literal gloss displayed below the videoclip. Notice that each
    written sign gloss in a sentence can be clicked to link to the entry for that sign within the
    dictionary. An English translation of example sentences is provided to show the meaning
    and grammatical context for using the sign.
  
    Drawings and video clips will be the most important way for learners to see how to make
    a sign. But some entries also contain a ‘hint’ that helps to remember the way a sign looks,
    based on a visual aspect of the sign.

    All signs are indexed to a topic, which allows users to look for signs according to a topic
    area: actions, emotions, family, health, politics, time, for example.

    Entries contain grammatical information about how a sign is formed and used, including the
    following: its main grammatical role in NZSL (verb, noun, adjective, pronoun, interrogative,
    etc); whether it can be made in varying locations or directions to express spatial information,
    or moved in varying directions to show person (agent-recipient) meaning; whether a two
    handed-sign is optionally made with one hand; whether a sign can be modified to show
    adverbial meaning (such as manner), or to incorporate number meaning.

    Information about the origin and the users of particular signs is shown in some entries.
    Where this information is known (not in every case), origin of a sign is noted (for example,
    within NZSL or adopted from Auslan, BSL or ASL). Certain signs are known to be used more
    by one generation than another, in which case the entry will indicate &lsquo;older&rsquo; or &lsquo;younger&rsquo; use.

    A small number of signs are marked as &lsquo;archaic&rsquo; or &lsquo;rare&rsquo;, meaning that they are no longer,
    or very infrequently, used. Other signs that have been recently coined (sometimes for
    specialised or educational purposes) and are not yet in widespread use are marked
    as &lsquo;neologisms&rsquo;. Signs that are regarded by the NZSL community as obscene, or
    as &lsquo;informal&rsquo; slang, are marked as such.
  
    How to Use
    -----------
  
    _Coming soon!_