.rule_after.clearfix_left
  .home_content.typography
    :markdown
      The Online Dictionary of New Zealand Sign Language
      ==================================================
    
      Welcome to the Online Dictionary of NZSL – a multimedia, bilingual reference tool.

      New to this page? view the [video tutorial](/help#how_to_use) first.

      You can search by:
    %ul
      %li
        = link_to 'English word', {:tab => 'keywords'}, {:class => 'keywords tab_link'}
      %li
        = link_to 'Visual features of the sign', {:tab => 'signs'}, {:class => 'signs tab_link'}
        (handshape and location)
      %li
        = link_to 'Advanced:', {:tab => 'advanced'}, {:class => 'advanced tab_link'}
        search by topic, grammatical features or by a combination of search terms
    %p Browse the tabs for additional information about NZSL and about the dictionary.

  = render :partial => '/signs/sign_of_the_day', :locals => {:sign => Sign.random}