.rule_after.clearfix
  .home_content.typography
    :markdown
      The Online Dictionary of New Zealand Sign Language
      ==================================================
    
      Welcome to the Online Dictionary of NZSL – a multimedia, bilingual reference tool.

      New to this page? view the [video tutorial](/help#how_to_use) first.

      You can search by:
    
    %ul
      %li
        %a.keywords.tab_link{:href => '#keywords'} English word
      %li
        %a.signs.tab_link{:href => '#signs'} Visual features of the sign (handshape and location)
      %li
        %a.advanced.tab_link{:href => '#advanced'} Advanced: search by topic, grammatical features or by a combination of search terms
    %p Browse the tabs for additional information about NZSL and about the dictionary.

  = render :partial => '/signs/sign_of_the_day', :locals => {:sign => Sign.random}