.typography.rule_after
  :markdown
    NZSL Exercises
    ==============
 
    Practise your comprehension skills with this series of interactive exercises developed by Victoria University of Wellington for NZSL students.
 
    [http://www.victoria.ac.nz/llc/edith_dev/nzsl/index.htm](http://www.victoria.ac.nz/llc/edith_dev/nzsl/index.htm)
 
 
    Learner activities will be updated from time to time – check back often.
