.typography.rule_after
  :markdown
    Links to NZSL-related resources
    ===============================

    * [DSRU Occasional Publications](http://www.victoria.ac.nz/lals/resources/deaf.aspx)
    * [NZSL Dictionary (print)](http://www.bwb.co.nz/store/viewCat_h.asp?idCategory=8)
    * [AUT University](http://www.aut.ac.nz/study-at-aut/study-areas/languages-social-sciences/qualifications/undergraduate-courses/sign-language-and-english-interpreting)
    * [Deaf Aotearoa New Zealand](http://www.deaf.org.nz/)
    * [Kelston Deaf Education Centre](http://www.kdec.school.nz/)
    * [van Asch Deaf Education Centre](http://www.vanasch.school.nz/)
    * [Thumbs Up (NZSL School Curriculum Resource)](http://nzsl.tki.org.nz/)
    * [NZSL Teachers Association](http://www.nzslta.org.nz/)
    * [New Zealand Federation for Deaf Children](http://www.deafchildren.org.nz/)
    * [NZSL Week](http://www.nzsign.co.nz/)
    * [NZSL Exercises Online](http://www.victoria.ac.nz/llc/edith_dev/nzsl/index.htm)
    * [Study NZSL at Victoria University of Wellington](http://www.victoria.ac.nz/home/study/subjects/offered/deaf.aspx)
  


