.typography.rule_after
  :markdown
    Links to NZSL-related resources
    ===============================

    **Deaf Studies Research Unit** <http://www.victoria.ac.nz/lals/research/projects/DSRU.aspx>

    **NZSL Resources:**  
    DSRU Occasional Publications <http://www.victoria.ac.nz/lals/resources/deaf.aspx>

    **NZSL Dictionary (print)** <http://www.bwb.co.nz/store/viewCat_h.asp?idCategory=8>

    **Auckland University of Technology** <http://www.aut.ac.nz/study-at-aut>

    **Deaf Aotearoa** <www.deaf.org.nz>

    **Kelston Deaf Education Centre** <http://www.kdec.school.nz>

    **Van Asch Deaf Education Centre** <http://www.vanasch.school.nz/>

    **Thumbs Up:**  
    (NZSL School Curriculum Resource) <http://nzsl.tki.org.nz/>

    **NZSL Teachers Association** <http://www.nzslta.org.nz>

    **Federation of Parents of Deaf Children** <http://www.deafchildren.org.nz/>

    **NZSL Week** <http://www.nzsign.co.nz/>

    **NZSL Exercises Online** <http://www.victoria.ac.nz/llc/edith_dev/nzsl/index.htm>
  


