.typography.rule_after
  :markdown
    About NZSL
    ==========
  
    Origins of NZSL
    ---------------
  
    Historical evidence about the earliest use of NZSL is sketchy, but recent research shows 
    that it is closely related to British Sign Language (BSL) and Australian Sign Language (Auslan). 
    Apparently, BSL found its way to New Zealand with immigrants from the United Kingdom during the 
    nineteenth century (Collins-Ahlgren 1989; Dugdale 2000), and it is likely that a distinct variety of 
    NZSL began to develop among the pupils of the first residential school for the Deaf which opened in 
    1880 at Sumner, Christchurch. Two subsequent residential Deaf schools in Auckland and Feilding also 
    brought together Deaf children from preschool through to highschool age, forming networks that 
    developed into adult communities.
  
    The first century of Deaf education policy in New Zealand (1880-1979) did not allow sign language in 
    classrooms, and Deaf children received a strong message that signing was an improper way to communicate 
    in public. Nevertheless, generations of Deaf children covertly used and created signs to communicate 
    with each other within schools, and later in adult contexts. In 1979, Australisan Signed English was 
    adopted as part of a Total Communication approach in Deaf education. Use of this sign system introduced 
    many new signs (mainly from Auslan) into the NZSL community during the 1980s.
   
    Research on natural signed languages and Deaf cultures began to positively impact the NZ Deaf community 
    in the mid 1980s. From this time, the local sign language was researched, documented in dictionaries, and 
    named as &lsquo;NZSL&rsquo;. In the decades since, Deaf New Zealanders have assumed a more positive sense 
    of ownership of their language and asserted a Deaf cultural identity. NZSL was accepted for use in Deaf 
    education from 1993. In 2006 it was legally recognised in the 
    [NZSL Act](http://www.odi.govt.nz/what-we-do/nzsl/index.html) as an official language of New Zealand. 
      
    Variation in the lexicon
    ------------------------
  
    NZSL has some variation in the vocabulary used by different groups of people. The original schools for the Deaf 
    enrolled the full spectrum of children: boys and girls, P&#257;keh&#257; (European) and M&#257;ori, and from a wide geographical 
    area. As a result, most of the vocabulary in NZSL is common to all members of the Deaf community. However, there 
    are marked differences in the vocabularies of older and younger signers, mainly due to the introduction of 
    Australasian Signed English from 1979. Many signs used in this system quickly moved into wider circulation in 
    the NZSL community, particularly among the generations educated after 1979. There are also some regional 
    (north, central, south) differences in the signs that are favoured for certain concepts, but research has found 
    few signs are completely unique to any one region. 
  
    Some social networks or groupings have sign vocabularies that they tend to use within their own particular 
    contexts–such as M&#257;ori, church congregations, rugby players, teenagers, fishermen. The full extent of this type 
    of specialised vocabulary is not yet fully captured in the dictionary.
  
    Where can I learn NZSL?
    -----------------------
  
    The best way to start is to take an NZSL course with a qualified Deaf teacher. Credit-bearing courses are 
    offered at Victoria University of Wellington and Auckland University of Technology.

    Many non-credit courses are offered by local community education providers. These can be
    located by visiting the [website of the NZSL Teachers Association](http://www.nzslta.org.nz) or by
    contacting your nearest office of [Deaf Aotearoa NZ](http://www.deaf.org.nz).
