.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
public/images/signs/**/*
.rvmrc
.DS_Store
public/system
public/videos/*.*
public/system/videos/*.*
config/initializers/access.rb
.sass-cache/

.DS_Store
