.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
public/images/signs/**/*
.rvmrc
.DS_Store
public/videos/*.*
public/system/videos/*.*
config/initializers/access.rb
.sass-cache/

app/assets/images/alphabet/
app/assets/images/classifiers/
app/assets/images/handshapes/
app/assets/images/locations/
app/assets/images/signs/


.DS_Store
