.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/images/signs/**/*
.rvmrc
.DS_Store
config/initializers/access.rb
.sass-cache/
public/.DS_Store
public/system/images
.DS_Store

*.swp
*~

public/.well-known/**/*
public/assets
*~
*.swp

coverage/*
.env
