language: ruby
bundler_args: "--without development"
sudo: false
cache:
  bundler: true
  yarn: true
env:
  global:
before_script:
  - gem install --no-document brakeman pandoc-ruby
  - nvm install node 9.10.0
  - yarn install
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - RAILS_ENV=test bundle exec rails db:create db:migrate db:schema:load
addons:
  apt_packages:
    - pandoc
    - google-chrome-stable
script:
  - brakeman --run-all-checks --exit-on-warn --format plain .
  - npx percy exec -- bundle exec rspec spec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
