= render :partial => 'shared/search/keywords', :locals => {:id => '2'}
= render :partial => 'shared/search/signs', :locals => {:id => '2'}
= select_tag :tag, options_for_select([[t('search.advanced.topic_tags'), ''], [t('search.advanced.topic_tags_any'), '']] + Sign.topic_tags, search_term(:tag)), :class => 'text_input'
= select_tag :usage, options_for_select([[t('search.advanced.usage_tags'), ''], [t('search.advanced.usage_tags_any'), '']] + Sign.usage_tags, search_term(:usage)), :class => 'text_input'
