%div{:class => "search_field prompt_input_wrapper small-9 small-centered #{tab_class(:advanced, :keywords)}"}
  = label_tag :s, "Sign Search", :class => 'text-center search-label show-for-medium'
  = search_field_tag :s, search_term(:s), :class => 'small-11 small-centered search-field search_box text_input', placeholder:"Search by English or MÄori keywords"
