.usage.sign-search-button.sign_attribute_selection.advanced-search-button.float-left{ class: "#{tab_class(:advanced, :signs)}" }
  = hidden_field_tag :usage, search_term(:usage), class: 'selected_field'

  %a.dropdown_arrow{ href: 'javascript:void(0);' }
    .clearfix.dropdown.float-left.text_input
      %ul.no-bullet
        - SignMenu.usage_tags.each do |name, i|
          %li.usage-dropdown{ id: i }
            = name
  .default
    = t('search.advanced.usage_tags')
  %span.caret
