%ul.record
  - page_parts.each do |page_part|
    %li{:id => "id#{page_part.id}"}
      = link_to page_part.title, edit_admin_page_page_part_path(@page, page_part)
      = link_to 'Delete', admin_page_page_part_path(@page, page_part), :confirm => 'Are you sure?', :method => :delete, :class => 'ir delete'
%br
= link_to 'New Page part', new_admin_page_page_part_path(@page)