.record {width:100%; list-style-type:none; padding:0; margin:0;}
.record li {height:40px;line-height:40px;font-size:1.3em;padding-left:10px;}
.record li:nth-child(2n+1) {background:#eee;}

.delete {float:right;width:40px;height:40px;background:url('/images/ui/clear.png') no-repeat center center;display:block;border:0;}
.delete:hover {border:0;opacity:0.8;background-color:transparent;}

.formtastic .text_input {width:500px;}

.inline_with_button