
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins, mark{ background-color: #ff9; color: #34414b; text-decoration: none; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/*::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }*/
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #34414b; font-family:Georgia, serif;}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #4179c9; }
a:hover { color: #4179c9; }

 /* * * * * * * * *\
|* Sticky Footer  *| from http://www.cssstickyfooter.com/
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html, body {height: 100%;}
.not_sticky_footer {min-height: 100%;}
.before_sticky_footer {overflow:auto;
  padding-bottom: 100px;}  /* must be same height as the footer */
.sticky_footer {position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;}

/* Opera Fix */
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/* IE Fix */
.ie7 .not_sticky_footer, 
.ie6 .not_sticky_footer{display:table;height:100%}

 /* * * * * * * *\
|* Search & Nav *|
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.header .edge {background:url('/images/ui/edges.png') left top repeat-y; width:72px; height:100%; z-index:5; padding-bottom:30px; top:-1px;}
.header .l {background-position:right top;}
.logo {height:71px; width:92px; background:url('/images/ui/logo.png') top left no-repeat; text-indent:-9999px;}
.center {width:690px;margin:0 auto;position:relative;z-index:7;} /* html3.2 loves you */
.main_column {margin:0 auto;position:relative;width:480px;padding-left:108px;padding-right:102px;}
.header nav {border:1px solid #99a0a5; border-left:0; border-right:0; background:#eceef0; position:relative;}
.search_tabs {position:absolute; left: 108px;top:-27px; height:28px;width:582px; margin:0 auto;}
.search_tabs li {line-height:26px; padding:0 5px; font-size:93%; float:left;}
li.tab {padding:0 9px; margin-right:4px; position:relative; background:url('/images/ui/tab.png') top left repeat-x; font-size:108%; cursor:pointer;}
li.tab .l,
li.tab .r {background:url('/images/ui/tab.png') bottom left no-repeat; width:1px; height:26px;}

li.selected {padding:0 9px; border:1px solid #99a0a5; border-bottom-color:#eceef0; background:#eceef0; top:-1px;}
li.selected .l,
li.selected .r{background:none;}

.menu { position:absolute; bottom:-30px; left:0; margin:0; padding:0; height:29px; width:100%;}
.menu_background {background:url('/images/ui/nav.png');z-index:2;}
.menu .center {z-index:6;}
.menu li {float:left; background:url('/images/ui/nav.png') bottom left no-repeat; height:29px;}
.menu li.first {background:transparent;}
.menu a {text-decoration:none; color:#34414b; line-height:25px; padding:0 8px; height:29px; display:block;}

.bottom_border {width:92px; height:8px; background:url('/images/ui/borders.png') bottom left repeat-x; position:absolute; bottom:-36px; left:0; z-index:9;}

#search_s {border:1px solid #99a0a5; background:white; -webkit-appearance:textfield;width:400px;margin:0 10px 0 0;height:24px; display:block; float:left;}
#search_s:focus {outline:0; border-color:#598afb;}
.search_form form {padding:10px 10px 10px 108px;}

 /* * * * *\
|* Button *|
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
.button,
.button .r {background-image: url('/images/ui/buttons.png');}
.button {background-position:-6px top; position:relative; height:24px; display:inline-block; line-height:24px; padding:0 4px 0 10px; color:white; text-decoration:none; font-size:93%; margin:0 10px 0 0;}
.button .r {background-position:left top; width:7px; right:-7px; height:24px;}
.button:hover .r {background-position:left -23px;}
.button:hover {background-position:-6px -23px; color:white;}
.button:active .r {background-position:left -46px;}
.button:active {background-position:-6px -46px; color:white;}
.button:visited {color:white;}
.button input {background:transparent; border:0; color:white; padding:0; height:24px; line-height:24px; margin:0; display:block;}

 /* * * * *\
|* Footer *|
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {background:url('/images/ui/borders.png') 90px left repeat-x;}
.footer nav {text-align:center; font-size:85%; margin-bottom:9px;}
.footer .first {border:0;}
.footer .copyright {font-size:85%; text-align:center;}
.footer a {color:#34414b;}

 /* * * * * * *\
|* Utilities  *|
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.r, .l {position:absolute;display:block;top:0;}
.r {right:0;}
.l {left:0;}

/* boiler-plate utilities */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}