%footer{:class => (last ? 'sticky_footer footer small-11 small-centered' : 'print_footer footer small-11 small-centered')}
  %div
    .nav
      = Page.in_nav.map { |link| render_navigation_link(link) }.join(' | ').html_safe
    %div
      .copyright
        - if @footer && @footer.first_part
          = link_to '(View in NZSL)', @footer.path, :class => 'footer_fullview_link'
          != @footer.first_part.body
