%footer{:class => (last ? 'sticky_footer footer' : 'print_footer footer')}
  .center
    .nav
      = Page.in_nav.map { |link| render_navigation_link(link) }.join(' | ')
    .main_column
      .copyright
        - if @footer && @footer.first_part
          = link_to '(View in NZSL)', @footer.path, :class => 'footer_fullview_link'
          != @footer.first_part.body
