      </ul>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer', locals: {last: false} %>
<div class="page_break">
  <div class="header">
    <div class="center">
      <%= image_tag 'ui/logo.png', class: 'print_logo' %>
    </div>
  </div>
  <div class="main_column">
    <%= render partial: 'vocab_sheets/vocab_sheet_name' %>
    <div class="vocab_sheet vocab_sheet_page rule_after clearfix_left">
      <ul class="clearfix_left">
