<footer class="<%= (last ? 'sticky_footer footer' : 'footer--print footer') %>">
  <div class="copyright">
    <% if @footer && @footer.first_part %>
      <div class="footer-link">
        NZSL Dictionary by
        <%= link_to "Deaf Studies Research Unit, Victoria University of Wellington", "https://www.victoria.ac.nz/lals/research/projects/dsru.aspx", target: "_blank" %>
      &copy; Victoria University of Wellington 2011- <%= Time.current.year =%> Use of content subject to our
        <%= link_to "terms","link-to.licensepage.com", target: "_blank" %>
      </div>
    <% end %>
  </div>
</footer>
