.banner
  .banner__content
    %p
      Hello and welcome! We have been working hard to improve the NZSL dictionary website. We would love your feedback. As you go through the website, you will see questions pop up.<br/>At the end of your visit, please click on
      %a{:href => "https://insights.hotjar.com/s?siteId=587430&surveyId=26313"} this link
      to give us more feedback. Thank you!
