.banner
  .banner__content
    %p
      Hello and welcome! We have been working hard to improve the NZSL dictionary website.
      We would love your feedback. As you go through the website, you will see questions pop up.
      At the end of your visit, please click on
      = link_to "this link", "https://insights.hotjar.com/s?siteId=587430&surveyId=26313", target: "_blank"
      to give us more feedback. Thank you!
    %p
      = link_to "View this message in NZSL", "https://youtu.be/D2d-_OVhdog", target: "_blank"
