%li{ class: "vocab-sheet__item vocab-sidebar__item", "data-sign-id": vocab_sheet_item.id }
  = image_tag sign_image_url(image_name: vocab_sheet_item.drawing, width: 80, height: 80), class: "vocab-sidebar__image"
  %p.main_gloss.vocab-sidebar__gloss
    = vocab_sheet_item.name
  %p.maori_gloss.vocab-sidebar__gloss
    = vocab_sheet_item.maori_name
  = link_to "#", { class: "remove", "data-sign-id": vocab_sheet_item.id } do
    %button
