.home-container.typography.small-12.small-centered
  .home-content.small-11.small-centered.medium-9
    .home-title.small-12.medium-7.large-6.float-left
      - if @page.first_part.present?
        != @page.first_part.body
    .home-translation-video.small-12.medium-5.float-right
      .video-container
        %i.fi-play.play-button
        = videojs_rails sources:{ mp4: Rails.application.secrets.s3_bucket_url + @page.first_part.translation_path + ".mp4", webm: Rails.application.secrets.s3_bucket_url + @page.first_part.translation_path + ".webm"}, controls: false, controlsList:"nodownload", preload: "auto", loop: true, class: "main_video", id: "home-video"
        %p.help-link.text-center
          New to this site?
          = link_to "View our help page.", '/help'
.home-sign-container.small-12.medium-8
  = render :partial => '/signs/sign_of_the_day', :locals => {:sign => Sign.random}
