= render :partial => 'pages/content'
.row
  .column
    %ol.ol-topic-style
      - SignMenu.topic_tags.each do |topic|
        %li.topic-li-style.small-12.medium-6.large-4
          = link_to topic[0], search_signs_path(tag: topic[1])

.typography.topic-h2-style
  %h2 List of Usage tags
%ol.ol-usage-style
  - SignMenu.usage_tags.each do |u|
    %li.usage-li-style
    = link_to u[0], search_signs_path(usage: u[1])


