<div class='item_name vocab-sheet__text-input h3 print_name'><%= vocab_sheet_item.name  %></div>
<div class='item_maori_name vocab-sheet__text-input h3 maori_gloss print_maori_name'><%= vocab_sheet_item.maori_name %></div>
