.orange_link_button {
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 0;
  bottom: -5px;
  border: none;
  background-color: initial;
  font-size: inherit;
  font-family: inherit;
  &:hover {
    .text-container { color: $dark-grey; }
    .icon-container { background: $med-grey; }
  }
  .icon-container {
    width: 35px;
    height: 33px;
    background-color: $peach;
    margin-right: 10px;
    float: left;
    position: relative;
    display: inline-block;
    text-align: center;
    i {
      color: white;
      line-height: 2.5;
      font-size: 0.85em;
    }
  }
  .text-container {
    width: calc(100% - 45px);
    float: left;
    font-size: $subtitle-font-size;
    color: $peach;
    text-align: left;
    margin-top: 5px;
  }
}

.orange_submit_button,
.orange_video_button {
  @include border-radius-small;
  background-color: $peach;
  border: none;
  color: white;
  padding: 0 10px 5px 10px;
  font-size: $subtitle-font-size;
  font-family: inherit;
  background-image: none;
  line-height: initial;
  background-position: initial;
  height: auto;
  margin: 10px 0;

  &:visited { color: white; }
}

.orange_video_button {
  &:hover {
    color: white;
  }
  i {
    font-size: 22px;
    margin: 0 5px;
    position: relative;
    top: 3px;
  }
}

.orange_submit_button { padding: 5px; }

.play-button {
  color: white;
  font-size: 70px;;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: calc((100% - 85px) / 3);
}

.videos .translation_button {
  float: none;
  clear: left;
}

.translation_button { @extend .orange_video_button; }

.no-js .translation_button { display: none; }

a .button,
.button input,
.button button,
.button a,
.button { @extend .orange_submit_button; }

.button:visited { color: white; }

.button button::-moz-focus-inner,
.button input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
