.add-to-vocab-btn,
.add_vocab_button {
  width: 100%;
  padding: 0;
  bottom: -5px;
  border: none;
  background-color: initial;
  font-size: inherit;
  font-family: inherit;
  &:hover {
    .text-container { color: $med-grey; }
    .icon-container { background: $med-grey; }
  }
  .icon-container {
    width: 35px;
    height: 33px;
    background-color: $peach;
    margin-right: 10px;
    float: left;
    position: relative;
    i {
      @include center;
      color: white;
      font-size: 0.85em;
    }
  }
  .text-container {
    width: calc(100% - 45px);
    float: left;
    font-size: $subtitle-font-size;
    color: $peach;
    text-align: left;
    margin-top: 5px;
  }
}

.orange_submit_button,
.play_video_button {
  @include border-radius-small;
  background-color: $peach;
  border: none;
  color: white !important;
  padding: 0 10px 5px 10px;
  font-size: $subtitle-font-size;
}

.play_video_button {
  &:hover { color: white; }
  i {
    font-size: 22px;
    margin: 0 5px;
    position: relative;
    top: 3px;
  }
}

.play-button {
  @include center;
  color: white;
  font-size: 70px;
  z-index: 50;
}

a .button,
.button input,
.button button,
.button a,
.button { @extend .orange_submit_button; }

.orange_submit_button { padding: 5px; }
.translation_button { @extend .play_video_button; }

// Browser specific styles ( Firefox IE 11 and Safari ) to hide the default videojs BigPlayButton
// User expects to view video without any obsufication and the default button was obsuring the video
.video-js.vjs-big-play-button {
  display: none;
}

// Browser specific style for Chrome to hide the default videojs BigPlayButton
// User expects to view video without any obsufication and the default button was obsuring the video
video::-webkit-media-controls-overlay-play-button {
  display: none;
}
