$white: #fff;
$black: #000;
$light-grey: #e5e5e5;
$light-med-grey: #ccc;
$med-grey: #999;
$dark-grey: #4a4a4a;
$pink: #ec126d;
$primary-blue: #2980b9;
$link-blue: #3498db;
$light-blue: #6bb6e9;
$pale-blue: #e0eef7;
$super-pale-blue: #f0f6fa;
$peach: #f57958;
$dark-blue: #18435f;
$darkest-blue: #061017;
$error-red: #c00;
$success-green: #9acd32;
// -------------------
//  Old Color Styles
$bright-pink: #ff5e99;
$blue-grey: #34414b;
$sky-blue: #4179c9;
$dark-sky-blue: #336cbe;
$light-pale-blue: #e2edfc;
$oat-grey: #eee;
$dark-oat-grey: #ddd;
$bright-yellow: #ff9;
$pale-pink: #f0dddd;
$light-pale-pink: #fee;
$required-red: #f00;

// Vocab sheet variables:
$vocab-bg: $oat-grey;
$vocab-header-bg: #e1eef7;
$vocab-border-color: #878f95;
