$light-grey: #E5E5E5;
$light-med-grey: #CCC;
$med-grey: #999;
$dark-grey: #666;
$pink: #EC126D;
$primary-blue: #2980B9;
$link-blue: #3498DB;
$light-blue: #6BB6E9;
$peach: #F57958;
$pale-blue: #F0F6FA;

// -------------------
//  Old Color Styles
$bright-pink: #FF5E99;
$blue-grey: #34414b;
$sky-blue: #4179c9;
$dark-sky-blue: #336CBE;
$light-pale-blue: #E2EDFC;
$oat-grey: #EEE;
$dark-oat-grey: #DDD;
$bright-yellow: #ff9;
$pale-pink: #f0dddd;
$light-pale-pink: #FEE;
