.small-caret,
.caret {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  top: 25px;
  right: 5px;
}

.small-caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid white;
}
