.small-caret,
.caret {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #ffffff;
  height: 0;
  position: absolute;
  right: 5px;
  top: 25px;
  width: 0;
}

.small-caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #ffffff;
}
