.header {
  position: relative;
  .nav {
    background: $primary-blue;
    position: relative;
  }
}

header {
  background: $primary-blue;
  height: 65px;
  .mobile-logo {
    display: inline-block;
    width: 80%;
    img {
      margin: 5px 0 0;
      width: 120px;
    }
  }

  .hamburger-menu-icon {
    border-right: 1px solid $light-grey;
    height: 100%;
    max-width: 50px;
    top: 0;
    width: calc(15% - 1px);
    img {
      @include center-element;
      position: relative;
      top: 25px;
    }
  }

  .overlay {
    @include transition($long-time, all);

    background-color: $primary-blue;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 100;
    a,
    span {
      @include montserrat-light;
      @include transition($medium-time, all);

      color: $light-grey;
      font-size: 20px;
      line-height: 2.1;
    }

    .overlay-content {
      position: relative;
      top: 30px;
    }

    .closebtn {
      font-size: 60px;
      line-height: 1;
      position: absolute;
      right: 35px;
      top: 20px;
      z-index: 200;
    }
  }
}

@media screen and (min-width: $medium-screen) {
  header {
    height: auto;
    .header-nav {
      overflow: auto;
      padding-top: 10px;
    }

    .menu-list {
      @include montserrat-light;
      width: 60%;
      li {
        display: inline;
        padding: 10px;
        a,
        span { color: $light-grey; }
      }

      &__selected{
        text-decoration: underline;
      }
    }
  }

  .header-logo,
  .tablet-logo {
    width: 40%;
    img { @include center-element; }
  }
}

.banner {
  background-color: $dark-blue;
  color: $white;
  height: auto;
  width: 100%;

  &__content {
    margin: 0 auto;
    max-width: 85.71429rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;

    p {
      margin-bottom: 0;
    }

    a {
      color: $pale-blue;
    }
  }
}
