.header {
  position:relative;
  .nav {
    background: $primary-blue;
    position:relative;
  }
}
header {
  background: $primary-blue;
  height: 65px;
  .mobile-logo {
    display: inline-block;
    width: 80%;
    img {
      width: 120px;
      margin: 5px 0 0;
    }
  }
  .hamburger-menu-icon {
    border-right: 1px solid $light-grey;
    width: calc(15% - 1px);
    max-width: 50px;
    top: 0;
    height: 100%;
    img {
      @include center-element;
      top: 25px;
      position: relative;
    }
  }
  .overlay {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: $primary-blue;
    overflow-x: hidden;
    transition: .5s;
    a,
    span {
      @include montserrat-light;
      font-size: 20px;
      color: $light-grey;
      line-height: 2.1;
      transition: 0.3s;
    }
    .overlay-content {
      position: relative;
      top: 30px;
    }
    .closebtn {
      position: absolute;
      top: 20px;
      right: 35px;
      font-size: 60px;
      line-height: 1;
      z-index: 200;
    }
  }
}

@media screen and (min-width: $medium-screen) {
  header {
    height: auto;
    .header-nav {
      padding-top: 10px;
      overflow: auto;
    }
    .menu-list {
      @include montserrat-light;
      width: 60%;
      li {
        display: inline;
        padding: 10px;
        a { color: $light-grey; }
      }
    }
  }
  .header-logo,
  .tablet-logo {
    width: 40%;
    img { @include center-element; }
  }
}



.banner {
  width: 100%;
  height: auto;
  background-color: $dark-blue;
  color: #FFF;
  &__content {
    max-width: 85.71429rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    p {
      margin-bottom: 0;
    }
    a {
      color: $pale-blue;
    }
  }
}
