.font-style {
  font-family: "Montserrat";
  font-weight: 500;
}



.header-bg-colour {
  background-color: $dark-grey;
  padding-bottom: 8%;
  .header-nav-menu li {
    font-family: "Montserrat";
    font-weight: 300;
    float: left;
    list-style-type: none;
    padding: 30px;
    font-size: 15px;
    line-height: 1em;
    a {
      text-decoration: none;
      color: $light-grey;
      border-bottom: none;
    }
  }
  .logo-container {
    color: $light-grey;
    overflow: auto;
    width: 35%;
    float: left;


    .logo-img-container {
      float: left;
    }

    .logo-text-container {
      text-align: center;
      .logo-text-one {
        padding: 5% 0 2%;
        font-size: $h3-font-size;
      }
      .logo-text-two {
        font-size: $h4-font-size;
      }
    }

  }
}

