
header {
 background: $primary-blue;
 width: 100%;
 height: 16%;
 top: 0;
 left: 0;
}
.header-nav {
  width: 100%;
  float: left;
  text-align: center;


  .menu-list {
    @include montserrat-light;

    width: 100%;
    overflow: auto;
    text-align: center;
    ul {
      display: inline-block;
      li {
         display: inline;
         list-style-type: none;
         float: left;
         padding: 10px;
        a {
           color: $light-grey;
           text-decoration: none;
           border: none;
        }
        a::hover{
         background-color: none;
        }
      }
    }
  }

}
.hamburger-menu-icon {
  display: none;
  float: left;
  z-index: 10;
}

.logo-text {
  @include montserrat-bold;
  color: $light-grey;
  width: 100%;
  float: left;
  text-align: center;
}
.toggle-menu {
  display: none;
}

@media screen and (max-width: $medium-screen) {
  .menu-list {
    display: none;
  }
  .hamburger-menu-icon {
    display: block;
    width: 10%;
    float: left;
    margin-top: 7%;
    cursor: pointer;
  }
  .logo-text {
    width: 90%;
    margin-top: 2%;
  }
}

/*Overlay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: $primary-blue;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    li {
      list-style-type: none;
    }
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $light-grey;
    display: block;
    transition: 0.3s;
    border-bottom: none;
}

.overlay a:hover, .overlay a:focus {
    color: $dark-grey;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}





