.home-container {
  @include montserrat-regular;
  background: $pale-blue;
  overflow: hidden;
  padding: 20px 0;

  .home-content {
    p { line-height: 1.8; }

    ul { margin-left: 2rem; }

    h1 {
      @include montserrat-regular;
      font-size: $h2-font-size;
      margin: 20px 0;
    }
  }
}

.home-sign-container {
  margin: 20px auto;

  .button {
    margin: 10px auto;
    padding: 10px;
    width: 145px;
  }

  .sign-content-container {
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    video { margin: 0; }
  }

  .sign-container {
    position: relative;

    img {
      @include center;
      height: 80%;
    }
  }

  .sign-heading {
    @include montserrat-regular;
    color: $primary-blue;
    display: block;
    font-size: $h1-font-size;
    margin: 10px 0;
    text-transform: capitalize;
  }
}
