.search-result {
  &-banner {
    background-color: $pale-blue;
    padding: 25px 0;
  }

  &-container {
    .glosses-container { margin-bottom: 20px; }

    .video-container .button {
      @extend .play_video_button;
      margin: 5px 0 30px 0;
    }

    .back-button-container {
      margin: 30px 0;
      position: relative;
      a {
        border-bottom: 0;
        margin-left: 10px;
        text-decoration: none;
      }

      span { color: $link-blue; }
    }

    .sign-container {
      border: 1px solid $light-grey;
      box-shadow: -2px 3px 12px 0 $light-med-grey;
      margin-bottom: 20px;
      position: relative;
      .main-image {
        display: block;
        height: 12.5rem;
        margin: 65px auto 10px;
      }

      .sign_attributes {
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
        .image {
          margin: 10px auto;
          img { margin: 0; }
        }
      }
    }
  }

  .examples-container {
    .translation-gloss {
      @include montserrat-regular;
      font-size: $h6-font-size;
      margin: 0 0 10px 0;
    }
  }
}

@media screen and (min-width: $medium-screen) {
  .search-result-container {
    .sign-container { float: right; }

    .notes,
    .videos {
      float: left;
      video { margin-bottom: 10px; }
    }
  }
}
