.search {
  &-container {
    form {
      position: relative;
    }
    background-color: $primary-blue;
    float: right;
  }
  &-field {
    @include border-radius-large;
    border: none;
    height: 30px;
    padding: 0 10px;
    display: inline-block;
  }
  &-label {
    text-align: center;
    padding: 20px 0 15px;
    display: block;
    color: white;
    font-size: $h3-font-size;
  }
  &-button {
    display: inline-block;
    border: none;
    background-color: initial;
    transform: scale(-1, 1);
    i {
      font-size: 22px;
      color: $primary-blue;
    }
  }
  &-tab {
    padding: 20px 0 10px 0;
    font-size: $subtitle-font-size;
    .small-caret {
      margin-left: 10px;
      top: 12px;
      position: relative;
    }
    a {
      color: white;
      border: none;
    }
  }
  &_field {
    position: relative;
  }
}
.empty {
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  right: 12px;
  top: 0;
}
.search-buttons-container,
.advanced-search-container {
  display: none;
}

@media screen and (min-width: $medium-screen) {
  .search-container {
    float: none;
  }
  .search-buttons-container {
    display: block;
    width: 112px;
    overflow: auto;
    position: absolute;
    top: 66px;
    right: -5px;
    .search-button {
      @include border-radius-small;
      background-color: $peach;
      top: initial;
      right: initial;
      position: relative;
      i {
        font-size: 28px;
        color: white;
      }
    }
    .empty:hover span {
      color: white;
    }
  }
  .advanced-search-container {
    padding-bottom: 10px;
  }
  .advanced-search-button {
    @include montserrat-light;
    @include border-radius-small;
    position: relative;
    height: 65px;
    background-color: $light-blue;
    margin: 0 2.5px;
    width: calc(25% - 5px);
    cursor: pointer;
    font-size: $subtitle-font-size;
    a:hover {
      opacity: 1;
    }
    .default {
      color: white;
    }
    .usage-dropdown,
    .topic-dropdown {
      width: 100%;
      height: auto;
      &:hover {
        background-color: $pale-blue;
      }
    }
    &.topic,
    &.usage {
      .selected {
        background-color: $super-pale-blue;
      }
    }
  }
  .empty {
    position: relative;
    font-size: 16px;
    color: white;
    left: 12px;
    top: -4px;
    &:hover,
    &:focus {
      color: $white;
    }
    span {
      color: $white;
      font-size: 24px;
      top: 3px;
      position: relative;
      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
}
@media screen and (min-width: $large-screen) {
  .search-buttons-container {
    right: 5%;
  }
}

.signs {
  line-height: 56px;
}

.dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  background: white;
  border: 1px solid $light-grey;
  display: none;
  padding: 5px;
  .selected {
    background-color: $super-pale-blue;
  }
}

.handshapes .dropdown {
  width: 450px;
  ul {
    padding: 10px 0;
  }
}

.locations .dropdown {
  width: 430px;
  ul {
    padding: 10px 0;
  }
}

.topic .dropdown,
.usage .dropdown {
  padding: 0;
  width: 260px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  ul {
    margin: 0;
  }
  li {
    padding-left: 5px;
    line-height: 2.5;
  }
}

.usage .dropdown {
  overflow-y: hidden;
}

.dropdown .title {
  padding: 3px 3px 7px;
  line-height: 1;
  text-align: left;
}

.dropdown .close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: right center no-repeat;
  background-image: image_url("ui/close_search.png");
  padding-right: 20px;
  height: 15px;
  line-height: 15px;
}

::-webkit-search-cancel-button {
  display: none;
}
