.search_results_container {
  overflow: auto;
  margin-top: 20px;

  .row {
    margin: 0 !important;
    max-width: 100% !important;
  }

  .search_results_card {
    margin: 5px 5px 25px;
    outline: 1px solid $primary-blue;
    overflow: hidden;
    position: relative;
    width: calc(100% - 10px);
    min-height: 25rem;

    &:hover {
      outline: 3px solid $primary-blue;
    }

    .video-container {
      min-height: 10.75rem;
      background-color: $light-grey;
      margin-bottom: 0.625rem;
    }

    .video-js {
      background-color: transparent;
    }

    .clickable_link {
      cursor: pointer;
    }

    .videos .button {
      margin-right: 18px;
      margin-bottom: 5px;
      float: left;
    }
  }
}

.search-result__float-wrapper {
  opacity: 0;
  transform: translateY(-1rem);

  transition: {
    property: opacity, transform;
    duration: 0.2s;
    timing-function: ease-in-out;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}