.search-result {
  &-title {
    background-color: $pale-blue;
    padding: 25px 0;
  }
  &-container {
    .glosses-container {
      h2 {
        @include montserrat-bold;
        font-size: $h3-font-size;
      }
      .word_class {
        color: $light-med-grey;
        font-size: $h4-font-size;
      }
    }
    .back-button-container {
      margin: 30px 0;
      position: relative;
      a {
        text-decoration: none;
        border-bottom: none;
        margin-left: 10px;
      }
      span { color: $link-blue; }
    }
    .videos { display: inline-block; }
    .sign-container {
      border: 1px solid $light-grey;
      position: relative;
      img {
        margin: 30px auto;
        display: block;
      }
      .sign_attributes {
        position: absolute;
        top: 0;
        left: 10px;
        .image { width: initial; }
        img {
          display: block;
          margin: 20px 10px;
        }
      }
    }
  }
}

.orange_video_button {
  i {
    font-size: 22px;
    margin: 0 5px;
    position: relative;
    top: 3px;
  }
  background-color: $peach;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0 10px 5px 10px;
  font-size: $subtitle-font-size;
}

.orange_link_button{
  float: left;
  border: none;
  position: relative;
  bottom: 8px;
  color: $peach;
  font-size: $subtitle-font-size;
  &:hover {
    color: $dark-grey;
    i { background: $med-grey; }
  }
  i {
    margin-right: 7px;
    background-color: $peach;
    color: white;
    padding: 8px 13px;
  }
}
.back_to_search_results {
  position: absolute;
  top: 0;
  left: 108px;
}
