.search-result {
  &-banner {
    background-color: $pale-blue;
    padding: 25px 0;
  }
  &-container {
    .glosses-container {
      margin: 20px 0;
      h2 {
        @include montserrat-bold;
        font-size: $h5-font-size;
      }
      .gloss_maori,
      .gloss_secondary {
        font-weight: 300;
        font-style: italic;
        font-size: $h6-font-size;
      }
      .word_class {
        color: $light-med-grey;
        font-size: $h6-font-size;
      }
    }
    .video-container {
      position: relative;
      .button {
        @extend .orange_video_button;
      }
    }
    .back-button-container {
      margin: 30px 0;
      position: relative;
      a {
        text-decoration: none;
        border-bottom: none;
        margin-left: 10px;
      }
      span { color: $link-blue; }
    }
    .sign-container {
      border: 1px solid $light-grey;
      position: relative;
      margin-bottom: 20px;
      .main-image {
        margin: 65px auto 10px;
        display: block;
      }
      .sign_attributes {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        .image {
          margin: 10px auto;
          img { margin: 0; }
        }
      }
    }
  }
}


@media screen and (min-width: $medium-screen) {
  .search-result-container {
    .sign-container {
      float: right;
    }
    .notes,
    .videos {
      float: left;
      video { margin-bottom: 10px; }
    }
  }
}
