.search {
  &-container {
    form { position: relative; }
  }
  &-field {
    border-radius: 25px;
    border: none;
    height: 30px;
    padding: 0 10px;
    margin: 10px 0;
  }
  &-label {
    text-align: center;
    padding: 20px 0 15px;
    display: block;
    color: white;
    font-size: $h3-font-size;
  }
  &-button {
    background-color: initial;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    i {
      font-size: 32px;
      color: white;
    }
  }
  &-tab {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: $subtitle-font-size;
    a {
      color: white;
      text-decoration: none;
      border: none;
    }
  }
}

.hide { display: none; }
.show { display: inline-block; }

@media screen and (min-width: $medium-screen) {
  .search-button {
    top: 60px;
    right: 50px;
  }
  .advanced-search-container { padding-bottom: 10px; }
  .advanced-search-button {
    position: relative;
    height: 65px;
    background-color: white;
    margin: 0 2.5px;
    width: calc(25% - 5px);
    cursor: pointer;
    border-radius: 2px;
    @include montserrat-light;
    font-size: $subtitle-font-size;
    color: $dark-grey;
  }
  .show-for-medium.empty {
    top: 80px;
    right: -10px;
    color: white;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
