.search-result {
  &-banner {
    background-color: $pale-blue;
    padding: 25px 0;
  }
  &-container {
    .glosses-container {
      margin: 20px 0;
      h2 {
        @include montserrat-bold;
        font-size: $h5-font-size;
      }
      .gloss_maori,
      .gloss_secondary {
        font-weight: 300;
        font-style: italic;
        font-size: $h6-font-size;
      }
      .word_class {
        color: $light-med-grey;
        font-size: $h6-font-size;
      }
    }
    .back-button-container {
      margin: 30px 0;
      position: relative;
      a {
        text-decoration: none;
        border-bottom: none;
        margin-left: 10px;
      }
      span { color: $link-blue; }
    }
    .sign-container {
      border: 1px solid $light-grey;
      position: relative;
      margin-bottom: 20px;
      .main-image {
        margin: 55px auto 10px;
        display: block;
      }
      .sign_attributes {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        .image {
          margin: 10px auto;
          img { margin: 0; }
        }
      }
    }
  }
}

.orange_video_button {
  i {
    font-size: 22px;
    margin: 0 5px;
    position: relative;
    top: 3px;
  }
  background-color: $peach;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0 10px 5px 10px;
  font-size: $subtitle-font-size;
}

.orange_link_button {
  overflow: auto;
  position: relative;
  &:hover {
    .text-container { color: $dark-grey; }
    .icon-container { background: $med-grey; }
  }
  .icon-container {
    width: 35px;
    height: 33px;
    background-color: $peach;
    margin-right: 10px;
    float: left;
    position: relative;
    display: inline-block;
    text-align: center;
    i {
      color: white;
      line-height: 2.5;
      font-size: 0.85em;
    }
  }

  .text-container {
    width: calc(100% - 45px);
    float: left;
    font-size: $subtitle-font-size;
    color: $peach;
    text-align: left;
    margin-top: 5px;
  }
}


@media screen and (min-width: $medium-screen) {
  .search-result-container {
    .sign-container {
      float: right;
    }
    .videos {
      float: left;
      video { margin-bottom: 10px; }
    }
  }
}
