.search-results {
  &__container {
    display: flex;
    margin-top: 20px;
  }

  &__card {
    margin-bottom: 1rem;
    opacity: 0;
    outline: 1px solid $primary-blue;
    overflow: hidden;
    padding-bottom: 8rem;
    position: relative;
    transform: translateY(-1rem);
    transition: {
      duration: .2s;
      property: opacity, transform;
      timing-function: ease-in-out;
    };
    width: 100%;

    &.show-card {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover {
      outline: 3px solid $primary-blue;
    }

    .video-js {
      background-color: transparent;
      max-width: 100%;
      min-height: 11rem;
    }

    .clickable_link {
      background-color: $white;
      cursor: pointer;
    }

    .videos .button {
      margin-right: 18px;
      margin-bottom: 5px;
      float: left;
    }

    .card {
      &__bottom-row {
        background-color: $white;
        bottom: 0;
        height: 8rem;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &__sign-container {
        padding: 0 .75rem;
        text-align: right;
        vertical-align: middle;
      }
  
      &__drawing-image {
        margin: 0;
        max-width: 50%;
      }

      &__button-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &__button {
        flex: 50%;
        text-align: left;
      }

      &__button-symbol {
        display: inline-block;
        width: 1.5rem;
        text-align: center;
        font-weight: bold;
        color: $white;

        &--peach {
          background-color: $peach;
        }

        &--blue {
          background-color: $primary-blue;
        }
      }

      &__button-action {
        @include montserrat-regular;
  
        border-bottom: 0;
        font-size: $subgloss-font-size;
        text-align: left;
        padding-right: 0.5rem;
      }
    }
  }

  @media (min-width: $medium-screen) {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__card {
      margin-right: 1rem;
      max-width: calc(50% - 1rem);
    }
  }

  @media (min-width: $large-screen) {
    &__card {
      max-width: calc(33% - 1rem);
    }
  }

  @media (min-width: $xlarge-screen) {
    &__card {
      max-width: calc(25% - 1rem);
    }
  }
}
