.search-results {
  &__container {
    margin-top: 20px;
  }

  &__card {
    outline: 1px solid $primary-blue;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(-1rem);
    transition: {
      duration: .2s;
      property: opacity, transform;
      timing-function: ease-in-out;
    };

    &.show-card {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover {
      outline: 3px solid $primary-blue;
    }

    .video-container {
      background-color: $light-grey;
    }

    .video-js {
      background-color: transparent;
      max-width: 100%;
      min-height: 11rem;
    }

    .clickable_link {
      cursor: pointer;
    }

    .videos .button {
      margin-right: 18px;
      margin-bottom: 5px;
      float: left;
    }

    .card__bottom-row {
      display: flex;
      justify-content: space-between;
    }

    .button-container {
      padding-left: .75rem;
      max-width: 45%;
      align-self: flex-end;
    }

    .unicode_arrow {
      color: $primary-blue;
    }

    .show_link {
      @include montserrat-regular;

      border-bottom: 0;
      font-size: $subgloss-font-size;
    }

    .sign-container {
      max-width: 50%;
      padding-right: .75rem;
    }

    .drawing__image {
      margin: 0;
      max-width: 100%;
    }
  }

  @media (min-width: $medium-screen) {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__card {
      margin-right: 1rem;
      max-width: calc(50% - 1rem);
    }
  }

  @media (min-width: $large-screen) {
    &__card {
      max-width: calc(33% - 1rem);
    }
  }

  @media (min-width: $xlarge-screen) {
    &__card {
      max-width: calc(25% - 1rem);
    }
  }
}
