$li-hightlight-blue: rgba(185, 204, 249, 0.4);

.ui-autocomplete {
  color: $sky-blue;
  font-size: 100%;
  font-family: Georgia, serif;
  .ui-state-focus {
    border: 1px solid $li-hightlight-blue;
    color: $sky-blue;
    background: $li-hightlight-blue;
  }
}
