.topic-container {
  h2 { margin: 20px 0; }

  ol {
    column-width: 200px;
    overflow: auto;
  }

  .topic-li-style {
    list-style: none;

    a {
      border-bottom: 0;
      line-height: 2;
    }
  }

  @media screen and(min-width: $medium-screen) {
    .typography { margin: 20px; }
  }
}
