.topic-li-style {
  padding-bottom: 6px;
  list-style: none;
}

.ol-topic-style {
  float: left;
  list-style: none;
  margin-left: 0px;
}

.ol-usage-style {
  list-style: none;
}

.usage-li-style {
  padding-bottom: 6px;
  list-style: none;
}

.topics-columns {
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
}
