.topic-container {
  h2 { margin: 20px 0; }
  ol {
    overflow: auto;
    column-width: 200px;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
  }
  .topic-li-style {
    list-style: none;
    a {
      line-height: 2;
      border-bottom: none;
    }
  }
  @media screen and(min-width: $medium-screen) {
    .typography { margin: 20px; }
  }
}