.strong {
  font-weight: 500;
}

body { @include montserrat-light; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

q:before,
q:after {
  content: '';
}

ins, mark {
  background-color: $bright-yellow;
  color: $blue-grey;
  text-decoration: none;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px; border: 0;
  border-top: 1px solid $light-med-grey;
  margin: 1em 0;
  padding: 0;
}

input, select { vertical-align: middle; }

sub, sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

textarea {
  min-height: 1em; // ensures at least one few lines of text show up to start
  width: 100%; //text area fills up the full width of the content area
}

input[type="radio"] { vertical-align: bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button { cursor: pointer; }

button,
input,
select,
textarea { margin: 0; }

input:invalid,
textarea:invalid {
  border-radius: 1px;
  box-shadow: 0 0 5px red;
}

button {
  width: auto;
  overflow: visible;
}

a,
a:active,
a:visited,
a span,
a:active span,
a:visited span {
  color: $link-blue;
  text-decoration:none;
}

a:active { color: $peach; }
a:hover,
a:hover span {
  color: $link-blue;
  opacity: 0.8;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  @include montserrat-light;
  margin: 10px 0;
  padding: 0;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

.typography {
  li {
    margin: 0 0 0.6em;
    word-wrap: break-word;
  }
  dl {
    width: 250px;
    margin-left: 150px;
    margin-top: -1.6em;
  }
  dt {
    width: 150px;
    position: relative;
    overflow: visible;
    left: -150px;
    top: 1.6em;
    line-height: 1.6;
    &:after { content:':'; }
  }
  blockquote {
    background: $oat-grey;
    padding: 15px 15px 1px;
    margin: 15px 0;
  }
  a[name], a[name]:hover {
    background: transparent;
    border: 0;
    color: $blue-grey;
  }
}

h2+h3 { margin-top:1em; }

.main_gloss,
.static-page-heading,
.maori_gloss { @include montserrat-regular; }

.static-page-heading { text-transform: capitalize; }

h2.main_gloss {
  font-size: $main-gloss;
  padding: 0;
  margin: 10px 0;
  display: block;
}

.secondary_gloss {
  @include montserrat-light;
  font-size: $secondary-gloss;
}

.word_gloss {
  @include montserrat-light;
  color: $med-grey;
}

.word_gloss,
.maori_gloss {
  font-style: italic;
  display: block;
  font-size: $secondary-gloss;
}
.glosses-container.maori_gloss,
.item_maori_name.maori_gloss {
  font-size: $main-gloss;
}

.search-result-banner {
  @include montserrat-light;
  box-sizing: border-box;
  font-size: $search-result-banner;
  height: 130px;
}

.grammar,
.glosses { margin-bottom: 1.2em; }
