.strong {
  font-weight: 500;
}

body { @include montserrat-light; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

q:before,
q:after {
  content: '';
}

ins,
mark {
  background-color: $bright-yellow;
  color: $blue-grey;
  text-decoration: none;
}

del { text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  border-top: 1px solid $light-med-grey; display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input,
select { vertical-align: middle; }

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea {
  min-height: 1em;
  width: 100%;
}

input[type="radio"] { vertical-align: bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button { cursor: pointer; }

button,
input,
select,
textarea { margin: 0; }

input:invalid,
textarea:invalid {
  border-radius: 1px;
  box-shadow: 0 0 5px #ff0000;
}

button {
  overflow: visible;
  width: auto;
}

a,
a:active,
a:visited,
a span,
a:active span,
a:visited span {
  color: $link-blue;
  text-decoration: none;
}

a:active { color: $peach; }

a:hover,
a:hover span {
  color: $link-blue;
  cursor: pointer;
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include montserrat-light;
  margin: 10px 0;
  padding: 0;
}

h1,
.h1 {
  font-size: $h1-font-size;
}

h2,
.h2 {
  font-size: $h2-font-size;
}

h3,
.h3 {
  font-size: $h3-font-size;
}

h4,
.h4 {
  font-size: $h4-font-size;
}

h5 { font-size: $h5-font-size; }

h6 { font-size: $h6-font-size; }

.typography {
  li {
    margin: 0 0 0.6em;
    word-wrap: break-word;
  }

  dl {
    margin-left: 150px;
    margin-top: -1.6em;
    width: 250px;
  }

  dt {
    left: -150px;
    line-height: 1.6;
    overflow: visible;
    position: relative;
    top: 1.6em;
    width: 150px;
    &:after { content: ':'; }
  }

  blockquote {
    background: $oat-grey;
    margin: 15px 0;
    padding: 15px 15px 1px;
  }

  a[name],
  a[name]:hover {
    background: transparent;
    border: 0;
    color: $blue-grey;
  }
}

h2+h3 { margin-top: 1em; }

.main_gloss,
.static-page-heading,
.maori-gloss {
  @include montserrat-regular;
}

.static-page-heading { text-transform: capitalize; }

h2.main_gloss,
a.main_gloss {
  display: block;
  font-size: $main-gloss;
  margin: 10px 0;
  padding: 0;
}

.secondary_gloss {
  @include montserrat-light;
  font-size: $secondary-gloss;
}

.word_gloss {
  @include montserrat-light;
  color: $med-grey;
}

.word_gloss,
.maori-gloss {
  display: block;
  font-size: $secondary-gloss;
  font-style: italic;
}

.glosses-container.maori-gloss,
.item-maori-name.maori-gloss {
  font-size: $main-gloss;
}

.search-result-banner {
  @include montserrat-light;
  box-sizing: border-box;
  font-size: $search-result-banner;
  height: 130px;
}

.grammar,
.glosses {
  margin-bottom: 1.2em;
}
