$small-screen: 320px;
$medium-screen: 640px;
$large-screen: 1024px;
$xlarge-screen: 1440px;

$h1-font-size: 1.8em;
$h2-font-size: 1.6em;
$h3-font-size: 1.4em;
$h4-font-size: 1.2em;
$h5-font-size: 1.1em;
$h6-font-size: 1em;
$subtitle-font-size: 0.85em;

@mixin montserrat-light {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
}

@mixin montserrat-bold {
  font-family: "Montserrat";
  font-weight: 500;
}

@mixin center-element {
  margin: 0 auto;
  display: block;
}

.caret {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid $pink;
  position: absolute;
  top: 25px;
  right: 5px;
}

.no-select-styles {
  border: none;
  color: $dark-grey;
  border-image: none;
  background-color: white;
}
