$small-screen: 20rem; // =320px
$medium-screen: 40rem; // =640px
$large-screen: 64rem; // =1024px
$xlarge-screen: 90rem; // =1140px

$h1-font-size: 1.8em;
$h2-font-size: 1.6em;
$h3-font-size: 1.4em;
$h4-font-size: 1.2em;
$h5-font-size: 1.1em;
$h6-font-size: 1em;
$subtitle-font-size: .85em;
$main-gloss-font-size: 1.25em;
$subgloss-font-size: .87em;
$pagination-font-size: .75em;
$main-gloss: 1.333em;
$secondary-gloss: .933em;
$search-result-banner: 1.8em;

$short-time: .2s;
$medium-time: .3s;
$long-time: .5s;
$default-timing-function: ease-in-out;

@mixin montserrat-light {
  font: {
    family: 'Montserrat', arial, sans-serif;
    size: .9rem;
    weight: 300;
  }
}

@mixin montserrat-bold {
  font: {
    family: 'Montserrat', arial, sans-serif;
    weight: 500;
  }
}

@mixin montserrat-regular {
  font: {
    family: 'Montserrat', arial, sans-serif;
    weight: 400;
  }
}

@mixin center-element {
  display: block;
  margin: 0 auto;
}

@mixin center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin border-radius-small {
  border-radius: .25rem;
}

@mixin border-radius-large {
  border-radius: 1.5rem;
}

@mixin transition($duration, $properties...) {
  transition: {
    duration: $duration;
    property: $properties;
    timing-function: $default-timing-function;
  };
}

@mixin vocab-sheet-image-heights($height) {
  min-height: $height;

  & img {
    max-height: $height - 10px;
  }
}
