.video-container {
  background-color: $pale-blue;
  position: relative;
}

.main_video {
  max-width: 480px;
  width: 100%;

  video,
  embed {
    max-width: 480px;
    width: 100%;
  }
}

video {
  width: 100%;
}

.videos {
  .slow {
    display: none;
  }

  .button {
    float: right;
  }

  .hidden_video {
    display: none;
  }

  .selected {
    display: block;
  }
}
