.video-container {
  background-color: $pale-blue;
  position: relative;
}

.main_video,
.main_video video,
.main_video embed {
  max-width: 480px;
  width: 100%;
}

video {
  width: 100%;
}

.videos .slow {
  display: none;
}

.videos .button {
  float: right;
}

.videos .hidden_video {
  display: none;
}

.videos .selected {
  display: block;
}
