.vocab_sheet .title {
  font-size: $h4-font-size;
}

.vocab_sheet_background .header,
.vocab_sheet_background .main_column {
  position: relative;
} /* haslayout? */

/* generic */
.vocab_sheet {
  position: relative;
  text-align: center;
}

.vocab_sheet ul {
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}


/* bar specific */
.vocab_sheet_bar {
  width: 120px;
  position: absolute;
  top: 130px;
  right: 1rem;
  bottom: 0;
  z-index: 100;
  background-image: linear-gradient(to right, $vocab-bg, transparent);
  border-left: 1px solid $vocab-border-color;
  overflow: auto;
}

.flash-shown .vocab_sheet_bar {
  top: 169px;
}

.column_wrapper {
  overflow-y: hidden;
}

.vocab_sheet_bar_item {
  @include border-radius-small;

  background-color: white;
  width: 100px;
  margin: 15px auto;
  box-shadow: -1px 1px 2px 2px $light-med-grey;
}

.vocab_sheet_bar_item .remove {
  top: -8px;
  right: -10px;
}

/* sheet specific */

.vocab_sheet_page_item textarea {
  resize: vertical;
  min-height: 5rem;
  text-align: center;
  height: auto;
  line-height: 1;
  z-index: 3;
  position: relative;
  overflow-y: hidden;
  white-space: pre;
  white-space: pre-wrap;
}


.vocab_sheet_page {
  padding-bottom: 10px;
  clear: left;
  width: 690px;
  margin: 0 auto;
}


/* no-js friendly */
.no-js .vocab-sheet__item .button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 15;
}

.vocab_sheet_name input {
  font-size: $h1-font-size;
}

.no-js .vocab_sheet_name {
  float: left;
}

.no-js .vocab_sheet_name .button {
  display: block;
  float: left;
  clear: left;
  margin-top: -10px;
}
.vocab_sheet_bar_controls .button {
  @extend .orange_submit_button;
}

.flash {
  padding: 10px;
  background: yellowgreen;
  color: white;
  text-align: center;
  width: 100%;
}

.vocab_sheet_bar .flash {
  @include border-radius-small;

  margin: 20px auto;
  background: $primary-blue;
  width: 80%;
  padding: 5px;
}

.radio_wrapper input {
  vertical-align: middle;
}

.vocab-sheet {
  &__item {
    flex-basis: 100%;
    padding: 5px;
    position: relative;

    &--column {
      margin: 20px 0;

      &-1,
      &-6 {
        flex-basis: 100%;
      }

      &-2 {
        flex-basis: 50%;
      }

      &-3 {
        flex-basis: 33%;
      }

      &-4 {
        flex-basis: 25%;
      }

      &-5 {
        flex-basis: 20%;
      }

      &-6 {
        .vocab-sheet__item {
          display: flex;
          justify-content: space-between;
          padding: 0;
        }

        .notes-view {
          &__gloss {
            max-width: 10rem;
            flex: 10rem;
            padding: .5rem 1rem .5rem .5rem;
            border-right: 1px solid $light-med-grey;
          }

          &__notes {
            max-width: 90%;
            flex: 90% 9;
            padding: .5rem .5rem .5rem 1rem;
          }
        }
      }
    }

    .character-count {
      &__wrap {
        color: $light-med-grey;
        font-size: .75rem;
        text-align: right;
      }
    }

    a {
      text-align: center;
      display: block;
      color: #34414b;
      text-decoration: none;
      background-color: transparent;
      border: 0;
    }

    .remove {
      position: absolute;
      width: 28px;
      height: 25px;
      border: 0;
      text-indent: -9999px;
      overflow: hidden;
      background: {
        color: transparent;
        image: image-url('ui/vocab-delete.png');
      };
    }
  }

  &__text-input {
    resize: none;
    text-align: center;
    min-height: 2.1em;
    height: auto;
    line-height: 1;
    z-index: 3;
    position: relative;

    &.notes {
      min-height: 10rem;
      text-align: left;
    }

    &.max-length-reached {
      box-shadow: 0 0 .5rem $error-red;
    }
  }

  &__page-item {
    border: 1px solid $light-med-grey;
    margin-right: 11px;
    background: white;

    .item-name {
      resize: vertical;
      min-height: 5rem;
      margin-bottom: 5px;
      position: relative;
      overflow-y: hidden;
      white-space: pre;
      white-space: pre-wrap;
      z-index: 11;
    }

    .drawing {
      vertical-align: middle;
      padding: 0 3px;

      img {
        margin: 0;
        max-width: 100%;
      }
    }

    .remove {
      top: -10px;
      right: -14px;
    }

    .item_maori_name {
      resize: vertical;
      min-height: 5rem;
      margin-bottom: 5px;
      position: relative;
      overflow-y: hidden;
      white-space: pre;
      white-space: pre-wrap;
      z-index: 11;
    }
  }
}

.vocab_sheet_drawing__size {
  &--2 {
    min-height: 290px;
  }

  &--3 {
    min-height: 190px;
  }

  &--4 {
    min-height: 140px;
  }

  &--5,
  &--6 {
    min-height: 110px;
  }
}

// Buttons for user to specify print layout of their vocab sheet - do not delete:

.vocab-sheet {
  &__size-controls {
    float: left;
    margin-left: .75rem;
    margin-top: -.3rem;

    .radio_wrapper {
      height: 32px;
      line-height: 32px;
      float: left;
      display: block;
    }

    .selected_icon {
      background-color: #d2e2f9;
    }
  }

  &__size-control-box {
    background-color: rgba($black, 0.1);
    border: 1px solid $light-med-grey;
    border-radius: .3rem;
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    padding: .3rem;
  }

  &__size-label {
    display: inline-block;
    filter: grayscale(100%);
    height: 30px;
    position: relative;
    transition: {
      duration: .2s;
      property: filter;
      timing-function: ease-in-out;
    };
    width: 30px;
    z-index: 1;

    &:not(:last-of-type) {
      margin-right: .75rem;
    }

    &.current-size {
      filter: grayscale(0);
    }

    &.has-tip {
      &:after {
        @include border-radius-small;

        background: rgba($white, 0.9);
        border: 1px solid $light-med-grey;
        content: attr(data-tooltip-text);
        color: $primary-blue;
        right: -1rem;
        opacity: 0;
        padding: 0.5rem 1rem;
        position: absolute;
        text-align: center;
        top: -1000vh;
        transition: {
          duration: .2s;
          property: opacity;
          timing-function: ease-in-out;
        };
        width: 10rem;
        z-index: 2;
      }

      &:hover {
        filter: grayscale(0);

        &:after {
          opacity: 1;
          top: 2rem;
        }
      }
    }

    img {
      margin: 0;
      max-width: 100%;
    }
  }

  &__page-controls {
    float: right;
    margin-top: 43px;
    width: 425px;

    .no-js & {
      width: 500px;
    }

    .button {
      margin-left: 5px;
    }

    .orange_submit_button {
      float: left;
      margin-right: 5px;
    }
  }
}
