.vocab_sheet .title {
  font-size: $h4-font-size;
}

/* generic */
.vocab_sheet {
  position: relative;
  text-align: center;
  ul {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: auto;
    padding: 0;
  }
}

/* bar specific */
.column_wrapper {
  overflow-y: hidden;
}

/* sheet specific */

.vocab_sheet_page {
  clear: left;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 690px;
}

/* no-js friendly */
.no-js .vocab-sheet__item .button {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 15;
}

.vocab_sheet_name input {
  font-size: $h1-font-size;
}

.no-js .vocab_sheet_name {
  float: left;
}

.no-js .vocab_sheet_name .button {
  clear: left;
  display: block;
  float: left;
  margin-top: -10px;
}

.flash {
  background: #9acd32;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.radio_wrapper input {
  vertical-align: middle;
}

.vocab-sheet {
  &__item {
    flex-basis: 100%;
    padding: 5px;
    position: relative;

    &--column {
      margin: 20px 0;

      &-1,
      &-6 {
        flex-basis: 100%;
      }

      &-2 {
        flex-basis: 50%;
      }

      &-3 {
        flex-basis: 33%;
      }

      &-4 {
        flex-basis: 25%;
      }

      &-5 {
        flex-basis: 20%;
      }

      &-6 {
        .vocab-sheet__item {
          display: flex;
          justify-content: space-between;
          padding: 0;
        }

        .notes-view {
          &__gloss {
            border-right: 1px solid $light-med-grey;
            flex: 20rem;
            max-width: 20rem;
            padding: .5rem 1rem .5rem .5rem;
          }

          &__notes {
            flex: 90% 9;
            max-width: 90%;
            padding: .5rem .5rem .5rem 1rem;
          }
        }
      }
    }

    .character-count {
      &__wrap {
        color: $light-med-grey;
        font-size: .75rem;
        text-align: right;
      }
    }

    a {
      background-color: transparent;
      border: 0;
      color: #34414b;
      display: block;
      text-align: center;
      text-decoration: none;
    }

    .remove {
      background: {
        color: transparent;
        image: image-url('ui/vocab-delete.png');
      };
      border: 0;
      height: 25px;
      overflow: hidden;
      position: absolute;
      text-indent: -9999px;
      width: 28px;
    }
  }

  &__text-input {
    height: inherit;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
    position: relative;
    resize: none;
    text-align: center;
    white-space: pre-wrap;
    z-index: 11;

    &.notes {
      min-height: 10rem;
      text-align: left;
    }

    &.max-length-reached {
      box-shadow: 0 0 .5rem $error-red;
    }
  }

  &__page-item {
    background: #ffffff;
    border: 1px solid $light-med-grey;
    margin-right: 11px;

    .drawing {
      padding: 0 3px;
      vertical-align: middle;

      img {
        margin: 0;
        max-width: 100%;
      }
    }

    .remove {
      right: -14px;
      top: -10px;
    }
  }
}

.vocab_sheet_drawing__size {
  &--2 {
    @include vocab-sheet-image-heights(290px);
  }

  &--3 {
    @include vocab-sheet-image-heights(190px);
  }

  &--4 {
    @include vocab-sheet-image-heights(140px);
  }

  &--5,
  &--6 {
    @include vocab-sheet-image-heights(110px);
  }
}

// Buttons for user to specify print layout of their vocab sheet - do not delete:

.vocab-sheet {
  &__size-controls {
    float: left;
    margin-left: .75rem;
    margin-top: -.3rem;

    .radio_wrapper {
      display: block;
      float: left;
      height: 32px;
      line-height: 32px;
    }

    .selected_icon {
      background-color: #d2e2f9;
    }
  }

  &__size-control-box {
    background-color: rgba($black, 0.1);
    border: 1px solid $light-med-grey;
    border-radius: .3rem;
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    padding: .3rem;
  }

  &__size-label {
    @include transition($short-time, filter);

    display: inline-block;
    filter: grayscale(100%);
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 1;

    &:not(:last-of-type) {
      margin-right: .75rem;
    }

    &.current-size {
      filter: grayscale(0);
    }

    &.has-tip {
      &:after {
        @include border-radius-small;
        @include transition($short-time, opacity);

        background: rgba($white, 0.9);
        border: 1px solid $light-med-grey;
        color: $primary-blue;
        content: attr(data-tooltip-text);
        opacity: 0;
        padding: 0.5rem 1rem;
        position: absolute;
        right: -1rem;
        text-align: center;
        top: -1000vh;
        width: 10rem;
        z-index: 2;
      }

      &:hover {
        filter: grayscale(0);

        &:after {
          opacity: 1;
          top: 2rem;
        }
      }
    }

    img {
      margin: 0;
      max-width: 100%;
    }
  }

  &__page-controls {
    float: right;
    margin-top: 43px;
    width: 535px;

    .no-js & {
      width: 500px;
    }

    .button {
      margin-left: 5px;
    }

    .orange_submit_button {
      float: left;
      margin-right: 5px;
    }
  }
}
