/*
*= require jquery-ui
*/
@import 'color';
@import 'variables';
@import 'foundation_and_overrides';
@import 'foundation-icons';
@import 'custom_icons';
@import 'buttons';
@include foundation-menu;
@include foundation-menu-icon;

$admin-dashboard-top-nav-color: $dark-blue;
$admin-dashboard-top-nav-height: 55px;

.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-dashboard-body {
  display: flex;
  flex: 1 1 auto;
}

.admin-dashboard-top-nav-bar  {
  align-items: center;
  background: $admin-dashboard-top-nav-color;
  display: flex;
  flex: 0 0 $admin-dashboard-top-nav-height;
  height: $admin-dashboard-top-nav-height;
  justify-content: center;
  width: 100%;

  .menu-icon {
    vertical-align: text-bottom;
  }
}

.admin-dashboard-logo {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-dashboard-search-bar-container {
  position: relative;
}

.admin-dashboard-search {
  background: lighten($admin-dashboard-top-nav-color, 10%);
  border: 0;
  color: $white;
  margin-bottom: 0;

  &:active,
  &:focus {
    background: darken($admin-dashboard-top-nav-color, 5%);
  }
}

.admin-dashboard-search-icon {
  color: $white;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.admin-dashboard-top-bar-actions {
  align-items: center;
  display: flex;

  button {
    margin-bottom: 0;
    margin-right: 2rem;

    &.hollow {
      border-color: $white;
      color: $white;

      &:hover {
        background: $white;
        color: $primary-color;
      }
    }
  }
}

.admin-dashboard-sidebar {
  background-color: $white;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
  z-index: 1;


  .admin-dashboard-open-sidebar, .admin-dashboard-close-sidebar{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .admin-dashboard-sidebar-close-button {
    font-size: 14px;
  }

  .admin-dashboard-sidebar-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .menu > li > a {
      align-items: center;
    }
  }

  .fa.large {
    font-size: rem-calc(24);
    width: 40px;
  }
}

.reveal-for-medium {
  .admin-dashboard-open-sidebar {
    display: none;
  }
}

.admin-dashboard-sidebar-footer {
  background: rgba(42, 57, 79, 0.8);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.admin-dashboard-open-sidebar {
  text-align: center;
}

.admin-dashboard-body-content {
  background-color: $white;
  flex: 1 1 0;
  overflow-y: auto;
  padding: 20px;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
}

@mixin shrunk-sidebar() {
  .admin-dashboard-close-sidebar, .admin-dashboard-sidebar-text {
    display: none;
  }

  .admin-dashboard-open-sidebar {
    display: block;
  }

  .admin-dashboard-sidebar {
    width: 80px;

    .fa.large {
      width: auto;
    }
  }

  .off-canvas-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .navigation {
    margin-top: 2rem;
    text-align: center;

  }

  .menu.vertical > li > a {
    justify-content: center;
  }

  .menu {
    li {
      &::after {
        @include transition($long-time, opacity);

        display: none;
        opacity: 0;
      }

      a {
        padding: 0.75rem;
        svg {
          margin: 0;
        }

        span {
          @include transition($long-time, opacity);

          display: none;
          opacity: 0;
        }
      }
    }
  }
}

// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .admin-dashboard.shrink-medium {
    @include shrunk-sidebar()
  }
}

@include breakpoint(large) {
  .admin-dashboard.shrink-large {
    @include shrunk-sidebar()
  }
}

