/*
*= require jquery-ui
*= require_self
*= require video-js
*/

@import "color";
@import "variables";
@import "foundation_and_overrides";
@import "foundation-icons";
@import "custom_icons";
@import "buttons";
@import "video";
@import "header";
@import "typography";
@import "searchbar";
@import "search_results";
@import "search_result";
@import "footer";
@import "topic_style";
@import "vocab_sheet";
@import "search_result_grid";
@import "home";
@import "ie_browser_support";

.hide { display: none; }
.show { display: inline-block; }

li { margin: 0; }

.no-bullet {
  list-style: none;
  padding: 0;
  margin-left: auto;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.grid-image {
  margin: 0 auto;
  display: block;
  height: 90px;
}

.image-caption,
.grid-image-caption {
  width: 80%;
  display: block;
  border-bottom: none;
  margin: 0 auto;
}

.grid-stack { height: 165px; }

 img {
   display: inline;
   margin: 5px 10px;
 }

 .before_sticky_footer { min-height: 400px; }

// --------------------------------------

html, body {
  height: 100%;
  width: 100%;
  min-width: $small-screen;
  margin: 0 auto;
  color: $dark-grey;
}

.not_sticky_footer {
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
 }

/* Opera Fix */
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

a.logo {
  height:71px;
  width:92px;
  background: top left no-repeat;
  background-image: image-url('ui/logo.png');
  text-indent:-9999px;
  border:0;
}

.print_logo { display:none; }

.selected { display: block; }

// Keywords
// -----------------

.prompt_input_wrapper ul {
  position: absolute;
  z-index: 37;
  left: 0;
  width: 400px;
  background: white;
  margin: 0;
  padding: 0;
  border: 1px solid #99a0a5;
}

.attribute_options .rows {
  clear: left;
  position: relative;
  z-index: 5;
}

.attribute_options li {
  display: block;
  margin: 0 0 2px 2px;
  float: left;
  position: relative;
  border: 1px solid #bbb;
  zoom: 1;
}

.attribute_options .group {
  width: 71px;
  height: 71px;
}

.attribute_options .selected { border-color: #598afb; }

.image {
  text-decoration: none;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
}

.image .value { display: none; }

.handshapes{
  .main_image {
    margin: 5px 15px;
    img { margin: 0; }
  }
  .sub img { margin: 0; }
}

.locations .main_image img,
.locations .image img { margin: 0; }

.attribute_options ul {
  margin: 0;
  z-index: 5;
}

.attribute_options .selected .sub:hover,
.sub {
  top: 48px;
  right: 0;
  height: 23px;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  position: absolute;
  background: white;
  border: 0;
}

.attribute_options .selected .sub:hover { background: transparent; }

.attribute_options .selected .sub:hover .image,
.sub .image {
  width: 21px;
  height: 21px;
  line-height: 1;
}

.handshapes .dropdown ul.sub { padding: 0; }

.sub .image img { height: 100%; }

.sub li {
  border-color: white;
  margin: 0;
  z-index: 12;
  position: relative;
}

.attribute_options .selected .sub li{
  border-color: #e2edfc;
  margin: 0;
}

.sub1, .attribute_options .selected .sub1:hover { width: 23px; }

.sub2, .attribute_options .selected .sub2:hover { width: 46px; }

.sub3, .attribute_options .selected .sub3:hover { width: 69px; }

.sub1:hover {
  width: 44px;
  right: -12px;
}

.sub2:hover {
  width: 88px;
  right: -24px;
}

.sub3:hover {
  width: 132px;
  right: -36px;
}

.sub:hover {
  height: 44px;
  top: 38px;
  border: 1px solid #bbb;
}

.sub:hover .image {
  width: 42px;
  height: 42px;
  line-height: 1;
}

.attribute_options .selected,
.attribute_options .selected ul,
.selected_icon,
.ui-state-hover { background-color: #e2edfc; }

.attribute_options .sub { z-index: 1; }

.locations .image {
  width: 72px;
  height: 72px;
}

.locations .attribute_options li {
  font-size: 8px;
  text-align: center;
  line-height: 10px;
}

.selected_signs_wrapper .default { float: left; }

.default {
  font-size: $subtitle-font-size;
  padding-left: 10px;
  font-style: normal;
}

.selected.dropdown_arrow .border_mask {
  background-color: white;
  width: 100%;
  height: 3px;
  top: 29px;
  position: absolute;
  left: 0;
  z-index: 31;
}

.selected_signs .image {
  margin: 0;
  float: left;
  width: 42px;
  height: 42px;
  margin: 0 0 4px 4px;
}

a.drawing {
  border: 0;
  background: transparent;
}

.entry_drawing .offset { position: relative; }

.sign_attributes .image {
  position: relative;
  display: inline-block;
}

.back_to_results {
  position: absolute;
  top: 0;
  left: 0;
}

.form-li-settings ol {
  list-style-type: none;
  margin-left: 0;
}

.form-li-settings li {
  margin: 0 0 0.6em;
  width: 500px;
  position: relative;
}

abbr {
  border-bottom: 0;
  color: #f53;
}

.inline {
  width: auto;
  float: left;
  margin-right: 10px;
}

.radio ol { padding-top: 0.5em; }

.boolean label,
.radio label { line-height: 1; }

.text-input { width: 300px; }

.area-text { width: 450px; }

// scss-lint:disable SelectorFormat
.field_with_errors {
  display: inline;
  .text-input { border-color: $required-red; }
}

.inline-errors {
  position: absolute;
  color: #f53;
  top: 0;
  right: 195px;
}

.boolean { margin-bottom: 10px; }

.inline-hints {
  font-style: italic;
  font-size: 85%;
}

.text .inline-errors { right: 45px; }

.sub-form { margin-left: 15px; }

.view_print_back_link {
  float: right;
  display: block;
}

body .video_replace {
  display: block;
  border: 0;
  float: left;
}

.center { position: relative; }

.rounded { @include border-radius-small; }

.vertical_space { padding-bottom: 16px; }

.js .text_input_hidden {
  border: 1px solid white;
  outline: none;
}

.no-js .if_js,
.js .unless_js { display: none; }

.no-js .unless_js,
.js .if_js { display: block; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible { visibility: hidden; }

.clearfix_left:before,
.clearfix_left:after,
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.required label::after {
  color: $required-red;
  content: "*";
}

.clearfix:after { clear: both; }

.clearfix_left:after { clear: left;}

.clearfix, .clearfix_left { zoom: 1; }
