/*
*= require jquery-ui
*= require_self
*= require video-js
*/

@import 'color';
@import 'variables';
@import 'foundation_and_overrides';
@import 'foundation-icons';
@import 'custom_icons';
@import 'buttons';
@import 'video';
@import 'header';
@import 'typography';
@import 'searchbar';
@import 'search_results';
@import 'search_result';
@import 'footer';
@import 'topic_style';
@import 'vocab_sheet';
@import 'vocab-sidebar';
@import 'search_result_grid';
@import 'home';
@import 'ie_browser_support';
@import 'placeholder';

.hide { display: none; }

.show { display: inline-block; }

li { margin: 0; }

.no-bullet {
  list-style: none;
  margin-left: auto;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}

.grid-image {
  display: block;
  height: 90px;
  margin: 0 auto;
}

.image-caption,
.grid-image-caption {
  border-bottom: 0;
  display: block;
  margin: 0 auto;
  width: 80%;
}

.grid-stack { height: 165px; }

img {
  display: inline;
  margin: 5px 10px;
}

.before_sticky_footer { min-height: 400px; }

// --------------------------------------

html,
body {
  color: $dark-grey;
  height: 100%;
  margin: 0 auto;
  min-width: $small-screen;
  width: 100%;
}

.not_sticky_footer {
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
 }

// Opera Fix
body::before {
  content: '';
  float: left;
  height: 100%;
  margin-top: -32767px;
  width: 0;
}

a {
  &.logo {
    background: top left no-repeat;
    background-image: image-url('ui/logo.png');
    border: 0;
    height: 71px;
    text-indent: -9999px;
    width: 92px;
  }
}

.logo--print { display: none; }

.selected { display: block; }

// Keywords
// -----------------

.prompt_input_wrapper {
  ul {
    background: $white;
    border: 1px solid #99a0a5;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 400px;
    z-index: 37;
  }
}

.attribute_options {
  height: 430px;
  overflow: scroll;

  .rows {
    clear: left;
    position: relative;
    z-index: 5;
  }

  li {
    border: 1px solid #bbb;
    display: block;
    float: left;
    margin: 0 0 2px 2px;
    position: relative;
    zoom: 1;
  }

  .group {
    height: 71px;
    width: 71px;
  }

  .selected { border-color: #598afb; }

  ul {
    margin: 0;
    z-index: 5;
  }
}

.image {
  height: 42px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  width: 42px;

  .value { display: none; }
}

.handshapes {
  .main_image {
    margin: 5px 15px;
    img { margin: 0; }
  }

  .sub {
    img { margin: 0; }
  }
}

.locations .main_image img,
.locations .image img {
  margin: 0;
}


.attribute_options .selected .sub:hover,
.sub {
  background: $white;
  border: 0;
  display: block;
  float: left;
  height: 23px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 48px;
}

.attribute_options .selected .sub:hover { background: transparent; }

.attribute_options .selected .sub:hover .image,
.sub .image {
  height: 21px;
  line-height: 1;
  width: 21px;
}

.handshapes .dropdown ul.sub { padding: 0; }


.sub {
  li {
    border-color: $white;
    margin: 0;
    position: relative;
    z-index: 12;
  }

  .image {
    img { height: 100%; }
  }
}

.attribute_options .selected .sub li {
  border-color: #e2edfc;
  margin: 0;
}

.sub1,
.attribute_options .selected .sub1:hover {
  width: 23px;
}

.sub2,
.attribute_options .selected .sub2:hover {
  width: 46px;
}

.sub3,
.attribute_options .selected .sub3:hover {
  width: 69px;
}

.sub1:hover {
  right: -12px;
  width: 44px;
}

.sub2:hover {
  right: -24px;
  width: 88px;
}

.sub3:hover {
  right: -36px;
  width: 132px;
}

.sub:hover {
  border: 1px solid #bbb;
  height: 44px;
  top: 38px;
}

.sub:hover .image {
  height: 42px;
  line-height: 1;
  width: 42px;
}

.attribute_options .selected,
.attribute_options .selected ul,
.selected_icon,
.ui-state-hover {
  background-color: #e2edfc;
}

.attribute_options .sub { z-index: 1; }

.locations .image {
  height: 72px;
  width: 72px;
}

.locations .attribute_options li {
  font-size: 8px;
  line-height: 10px;
  text-align: center;
}

.selected_signs_wrapper .default { float: left; }

.default {
  font-size: $subtitle-font-size;
  font-style: normal;
  padding-left: 10px;
}

.selected.dropdown_arrow .border_mask {
  background-color: $white;
  height: 3px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 100%;
  z-index: 31;
}

.selected_signs .image {
  float: left;
  height: 42px;
  margin: 0;
  margin: 0 0 4px 4px;
  width: 42px;
}

a.drawing {
  background: transparent;
  border: 0;
}

.entry_drawing .offset { position: relative; }

.sign_attributes .image {
  display: inline-block;
  position: relative;
}

.back_to_results {
  left: 0;
  position: absolute;
  top: 0;
}

.form-li-settings ol {
  list-style-type: none;
  margin-left: 0;
}

.form-li-settings li {
  margin: 0 0 0.6em;
  position: relative;
  width: 500px;
}

abbr {
  border-bottom: 0;
  color: #f53;
}

.inline {
  float: left;
  margin-right: 10px;
  width: auto;
}

.radio {
  ol { padding-top: 0.5em; }

  label {
    line-height: 1;
  }
}

.boolean {
  margin-bottom: 10px;

  label {
    line-height: 1;
  }
}

.text-input { width: 300px; }

.area-text { width: 450px; }

.field_with_errors {
  display: inline;
  .text-input { border-color: $required-red; }

  .message-input { border-color: $required-red; }
}

.item-style { margin: 8px; }

.feedback-select-style { margin: 7px; }

.feedback-entry-style { margin: 3px; }

.avoid-bottom-margin { margin-bottom: 0; }

.send-feedback-button { margin-top: 20px; }

.inline-errors {
  color: #f53;
  position: absolute;
  right: 195px;
  top: 0;
}


.inline-hints {
  font-size: 85%;
  font-style: italic;
}

.text .inline-errors { right: 45px; }

.sub-form { margin-left: 15px; }

.view_print_back_link {
  display: block;
  float: right;
}

body .video_replace {
  border: 0;
  display: block;
  float: left;
}

.center { position: relative; }

.rounded { @include border-radius-small; }

.vertical_space { padding-bottom: 16px; }

.js .text_input_hidden {
  border: 1px solid $white;
  outline: none;
}

.no-js .if_js,
.js .unless_js {
  display: none;
}

.no-js .unless_js,
.js .if_js {
  display: block;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible { visibility: hidden; }

.clearfix_left::before,
.clearfix_left::after,
.clearfix::before,
.clearfix::after {
  content: '\0020';
  display: block;
  height: 0;
  overflow: hidden;
}

.required {
  label::after {
    color: $required-red;
    content: '*';
  }
}

.clearfix::after { clear: both; }

.clearfix_left::after { clear: left;}

.clearfix,
.clearfix_left {
  zoom: 1;
}
