.video--placeholder {
  background-image: linear-gradient($pale-blue 100%, transparent 0); // blue rectangle at the top covering the video with color at a height of 100%
  background-position: 0 0;     // left padding + top padding
  background-repeat: no-repeat;
  background-size: 100% 100%;   // width + height
}

.search-results--placeholder {
  background-image: // background properties map the remaining placeholder shapes
    linear-gradient($pale-blue 20%, transparent 0), // top line with color at a height of 15%
    linear-gradient($pale-blue 15%, transparent 0), // middle line
    linear-gradient($pale-blue 15%, transparent 0), // bottom line
    linear-gradient($pale-blue 100%, transparent 0); // bottom right square
  background-position: // background poistion maps to background-image
    0 65%, // top line left padding + top padding
    0 70%, // middle line
    0 75%, // bottom line
    100% 100%; // bottom right square
  background-repeat: no-repeat;
  background-size: // background-size maps to background-position
    80% 20%, // top line width + height
    80% 15%, // middle line
    80% 15%, // bottom line
    50% 25%; // bottom right square
}
