html, body {
  height: 100%;
  margin: 0px;
}

.print-page-wrapper {
  position: relative;
  height: 100vh;
  page-break-after: always;
  overflow: hidden;
}

.print_footer {
  display: none;
}

.print-page-wrapper .print_footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 12rem;
  border-top: 1px solid #000;
}

/* from boilerplate */
/*(removed a couple of rules)*/
a[href]:after {
  content: "";
  text-decoration: none;
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after, .center a[href]:after, a.button:after, .copyright a:after {
  content: "";
}

pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tr, img {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2, h3 {
  page-break-after: avoid;
}

/* modding boilerplate */

body,
.vocab_sheet *,
.rule_after, .video_replace {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

.center a,
.main_column a {
  color: #444 !important;
  text-decoration: underline;
  border: 0;
}

a.button {
  color: white !important;
  text-decoration: none;
}

a.main_gloss {
  text-decoration: none;
}

a.main_gloss:after {
  font-size: 10px;
  line-height: 10px;
}

/* hiding useless things */
.nav,
.vocab_sheet_bar,
.empty_vocab_sheet,
.button,
.logo,
.flashes,
object,
.view_print_back_link,
.remove,
.js .if_js,
.vocab_sheet_controls,
.menu-list,
.search-container,
.footer-container,
.sub-footer-container,
.hamburger-menu-icon {
  display: none;
}

.header-nav {
  overflow: auto;
}

/* remove shadows of my mind */
.ui-widget, .shadow, .text_input, .text_input_hidden, .text_input_hidden:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.video_replace {
  height: auto;
}

a.drawing {
  text-decoration: none;
}

/* hiding link destinations after text */
a.drawing:after {
  content: "";
}

/* making the vocabsheet have a not editing looking view */
.vocab_sheet_page_item {
  border: 0;
}

.vocab_sheet_page textarea {
  border: 0 !important;
  text-align: center;
  outline: none;
}

.vocab_sheet_name {
  border: 0 !important;
  outline: none;
  margin: 0.2cm;
}

.vocab_sheet_name input[readonly] {
  background-color: white;
}

/* restyling the main page layout to not just be a centered column of text, and to unsticky the footer (because it becomes unprintable otherwise) */
.not_sticky_footer {
  min-height: 0;
  height: auto;
  padding-bottom: 0;
}

.before_sticky_footer {
  padding-bottom: 0;
  overflow: visible;
}

.sticky_footer {
  height: auto;
  margin-top: 0;
  margin-bottom: 1em;
}

.footer-link {
  float: none !important;
}

/* show logo for printing */
.print_logo {
  display: block;
}

h1, .h1 {
  padding-top: 23px;
}

.video_replace {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.center,
.main_column {
  width: 690px;
  padding: 0;
}

@media only print {
  .page__header {
    display: none;
  }
}