.typography.rule_after
  :markdown
    Contact Us
    ==========

    Deaf Studies Research Unit
    Victoria University of Wellington
    PO Box 600
    Wellington
    New Zealand

    Managing Editor: <David.Mckee@vuw.ac.nz>
    Database Manager: <Micky.Vale@vuw.ac.nz>

    ### Telephone: ###
    +64 4 463 5626
    +64 4 463 5322
